body{
    
}
.container{
    max-width: 1200px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* -------------------- NAV BAR -------------------- */
.navbar{
 background-color: rgba(221, 221, 221, 0.576);
}
.navbar-nav a, .navbar-brand{
    text-decoration: none;
    color: black;
}
.nav-link:hover, .navbar-brand:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: 0.5s;
    color: rgb(221, 144, 0) !important;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!SECTION 1 !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.section-1{
    background-color: rgba(221, 221, 221, 0.576);
}
.section-1-row h1{
    color: rgb(255, 166, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.section-1-row h6{
    letter-spacing: .2rem;
}
.section-1-div-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-1-div-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-2 .card-title, .section-2 .bi{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.section-1-div-text .btn{
    width: 150px;
    background-color: rgb(255, 166, 0);
    color: white;
    font-weight: bold;
}
.section-1-div-text .btn:hover{
    background-color: rgb(228, 149, 3);
    transition: 0.5s;
    border: 1px solid white;
}
/* MEDIA QUERIES */
@media(max-width:768px){
    .section-1-div-text{
        padding: 8px;
    }
    .section-1-row img{
        width: 100%;
        height:auto;
    }
}
@media(min-width:768px){
    .section-1-div-text{
        padding: 30px 0 0 100px;
    }
    .section-1-div-text .btn{
        margin-top: 18px;
    }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SECTION 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.section-2{
    background-color: rgba(221, 221, 221, 0.576);
    padding: 0 20px 50px 20px;
}
.section-2 .card{
    border-radius: 0;
}
@media(max-width:768px){
    .section-2{
        padding-top: 50px;
    }
}
/* ---------  CARDS  ------------ */
.card-1{
    background-color: rgb(245, 118, 28);
 }
 .card-2{
     background-color: rgb(255, 141, 59);
 }
 .card-3{
     background-color: rgba(255, 174, 0, 0.994);
 }
 .card-title{
     text-transform: uppercase;
 }
 .card .btn{
     font-weight: bold;
 }
 .card .btn:hover{
     background-color: rgb(228, 149, 3);
     transition: 0.5s;
 }
 .card-body{
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 /* ---------------  ICONS  --------------- */
 .bi{
     font-size: 50px;
     padding: 8px;
     border-radius: 20%;
     margin: 10px;
 }
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SECTION 3 !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.bloc-orange{
    background-color: rgb(245, 118, 28);
    height: 190px;
    z-index: -1;
    position: relative;
    top: -160px;
    border-radius: 5px;
}
@media(max-width: 768px){
    .section-3 img{
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        margin-left: auto;
    }
    .bloc-orange{
        height: 320px;
        top: -270px;
    }
    .section-3 img{
        margin-top: 15px;
    }
    .bloc-orange h5{
        display: none;
    }
}
@media(min-width:768px){
    .section-3-col-img-1{
    margin-left: 40px;
    }
    .bloc-orange{
        left: -50px;
        
    }
    .section-3 .row{
        padding-left: 100px;
    }
}
@media(min-width:768px){
    .bloc-orange{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .bloc-orange h5{
        margin-right: 2%;
        text-shadow: 1px 1px 2px rgba(255, 174, 0, 0.713);
    }
    .bloc-orange .bi{
        font-size: 32px;
        text-shadow: 5px 1px 2px rgba(255, 174, 0, 0.713);
    }
}
@media(min-width:1050px){
    .bloc-orange h5{
        margin-right: 8%;
        font-size: 25px;
    }
}
.section-3 .row{
    padding-top: 50px;
}
.section-3 img{
    border-radius: 1%;
    box-shadow: 5px 5px 2px rgba(255, 174, 0, 0.713);
}
.main-title{
    color: rgb(255, 166, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

